<div class="about-container">
  <div class="about-bkg">
    <img src="../../assets/NewFolder/fall.png" />
    <h2>About Us</h2>
    <div class="about-gradient"></div>
  </div>
  <div class="about-module-1">
    <div class="about-module-1a">
      <img src="../../assets/NewFolder/jack_and_evan3.png" />
    </div>
    <div class="about-module-1b">
      <div class="about-text">
        <h3 style="color: white;">A <span style="color: #e75d3e;">Future</span> for Family Entertainment</h3>
        <p>
          Started in 2024, Catacomb Studios is an independent media and publishing company that aims to disrupt the current media landscape with quality content for kids and adults.
          <br />
          <br />
          Founders Jack Bittner and Evan Cooper grew up together.  They played the same video games, read the same books and watched the same cartoons.  When they grew up, they watched the world of children's entertainment grow dark.  Content aimed at children became more mind-numbing and less fun.  Social media became accessible to children en masse.  This coalescence of overstimulation drove Evan and Jack to hatch a plan.
          <br />
          <br />
          They taught themselves how to code, how to draw, how to animate in 2D and 3D, how to produce music and how to shoot videos.  Together, they would build their own platform and bring on innovative creators to make family-friendly entertainment.  Their first project was a book series entitled <i>Gonkville</i>.  After that, they began working with other creatives to write and illustrate new books and an animated series.  Their mission was to pave a way for independent content creators who see a future for family entertainment.
          <br />
          <br />
        </p>
        <!-- <span>Currently, they are working on writing more <i>Gonkville</i> books as well as a children's book about a ninja cat (2025) a dystopian novel series entitled <i>Modified</i> (2025).  If you want to stay up-to-date on Catacomb Studios' various endeavors, you can create an account and subscribe to our upcoming newsletter.</span> -->
      </div>
    </div>
  </div>
</div>
