<div class="carousel">
  <div class="carousel-inner">
    @for (image of imageOutput; let i = $index; track imageOutput;)
    {
    @if ( i === 0 ) {
    <input class="carousel-open" type="radio" id="carousel-{{ i + 1 }}" name="carousel" aria-hidden="true" hidden="" checked="checked">
    <div class="carousel-item">
      <img [src]="image">
    </div>
    } @else {
    <input class="carousel-open" type="radio" id="carousel-{{ i + 1 }}" name="carousel" aria-hidden="true" hidden="">
    <div class="carousel-item">
      <img [src]="image">
    </div>
    }
    }
    @for (entry of imageOutput; let j = $index; track imageOutput;)
    {
    @if ( $first ) {
    <label for="carousel-{{ $count }}" class="carousel-control prev control-{{ j + 1 }}">‹</label>
    } @else {
    <label for="carousel-{{ j }}" class="carousel-control prev control-{{ j + 1 }}">‹</label>
    }
    @if ( $last ) {
    <label for="carousel-1" class="carousel-control next control-{{ j + 1 }}">›</label>
    } @else {
    <label for="carousel-{{ j + 2 }}" class="carousel-control next control-{{ j + 1 }}">›</label>
    }
    }
    <ol class="carousel-indicators">
      @for (dot of imageOutput; let n = $index; track imageOutput;) {
      <li>
        <label for="carousel-{{ n + 1 }}" class="carousel-bullet">•</label>
      </li>
      }
    </ol>
  </div>
</div>
