.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  height: 700px;
  overflow: hidden;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  height: 100%;
  background-color: white;
}

.carousel-open:checked + .carousel-item {
  position: absolute;
  z-index: 2;
  opacity: 1;
  transition: opacity 1s ease-in-out, z-index 0s 1s;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s ease-in-out, z-index 0s 1s;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  font-size: 50px;
  height: 40px;
  width: 40px;
  line-height: 0px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 20;
  cursor: pointer;
  user-select: none;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control-inner {
  top: -18%;
  position: relative;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
color: #fff;
font-size: 35px;
cursor: pointer;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #424242;
}

.carousel-text {
  position: absolute;
  top: 75%;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 20;
}

.carousel-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(0deg, rgba(66,66,66,1) 0%, rgba(255,255,255,0) 100%);
  z-index: 10;
}

.carousel-bullet.active-bullet {
  color: #424242;
}

@media screen and (max-width: 670px) {
    .carousel {
        height: 560px;
    }
}

@media screen and (max-width: 540px) {
  .carousel-indicators {
      display: none;
  }

  .carousel {
     height: 460px;
  }

  .carousel-text {
      top: 65%;
  }
}

@media screen and (max-width: 450px) {
  .carousel-item img {
    max-width: none;
    height: 100%;
  }
}
