<div class="account-page">
  <div class="login-container">
    <h2>Login</h2>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email" required>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" required>
    </div>
    <a class="cta-link" href="/forgot-password">Forgot password?</a>
    <button class="login-btn margin-top" (click)="login()">Login</button>
    <div class="error">{{ error }}</div>
    <a class="cta-link" href="/signup">Don't have an account?</a>
  </div>
</div>
