.info-box {
  bottom: 0%;
  width: 100%;
  height: 400px;
  background: linear-gradient(0deg, #2a2a2a 0%, rgba(66,66,66,1) 100%);
  margin: -5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.info-box h3 {
    position: relative;
    font-size: 4rem;
}

.info-box p {
    margin: 15px 15% 0px 15%;
}
