/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'PoorRichard';
  src: url('assets/Fonts/POORICH.TTF') format('truetype');
  font-weight: 900;
  font-style: normal;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container-bar {
  background-color: #333333;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.container-bar img {
  height: 80%;
}

h1, h2, h3, h4, p, span {
    font-family: 'PoorRichard';
}

h2, h3, h4, p, span {
    margin: 5px;
    text-shadow: 1px 1px 2px #424242;
}

p, span {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.5rem;
}
