/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-h: 80px;
}

body {
transition: opacity 0.5s ease;
}

@font-face {
  font-family: 'PoorRichard';
  src: url('assets/Fonts/POORICH.TTF') format('truetype');
  font-weight: 900;
  font-style: normal;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container-container {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: auto;
}

.container-bar {
  background-color: #333333;
  position: relative;
  display: flex;
  flex-direction: row;
  height: var(--header-h);
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.container-bar img {
  height: 80%;
}

.left-container, .right-container {
    width: 80px;
}

h1, h2, h3, h4, p, span {
    font-family: 'PoorRichard';
}

h2, h3, h4, p, span {
  margin: 5px;
  color: #bfbfbf;
}

p {
    font-size: 1.5rem!important;
}

h2 {
    font-size: 2.5rem!important;
}

h3 {
  font-size: 2.3rem!important;
}

.orange {
  color: #f15a24;
}

