<section class="cta-box">
  <h3 style="color:white;">{{ ctaOutput[0].title }}</h3>
  <div class="card-holder">
    <div class="cta-card" [class.ctaClicked] = "ctaClicked == true" (click) = "changeCtaClass()">
      <img src="{{ ctaOutput[0].image }}"/>
    </div>
  </div>
  <div class="cta-paragraph">
    @if (ctaOutput[0].buttonType === "AMZN") {
    <button class="cta-btn"><strong>Buy Now on Amazon ></strong></button>
    }
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.
    </p>
  </div>
</section>
